/*
    theme file; required format:
    [nav]
    [.contentflow]
        [header]
        [article/dic/aside/section]

    version: 16-12-07
*/

* , * ::after, * ::before{
    box-sizing: border-box;
}

* {
    word-wrap: break-word; /*fixes horizontal scrollbar caused by long strings*/
}

/*background- hier muss noch der von alex geforderte blur rein, als sisterelement*/
body {
    font-size: 16px;
    font-family: sans-serif;
    background-image: url("imgs/wood-plant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    /*background-color: gainsboro;*/
}


img {
    width:100%;
}

h1, h2, h3, h4{
    font-family: 'Indie Flower'
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}

a
{
    text-decoration: none;
}


/*div wrapper fasst alles zusammen und bestimmt mit margin wo man den Hintergund sieht, außerdem legt es blurriness fest*/
.contentFlow {
    position: relative;
    margin: auto;
    max-width: 1300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .4);
    /*border-radius: 10px;
    z-index: 1;*/
}

/*der Verschwommene Effekt um den wrapper herum*/

/* disabled for now; needs to be fixed

.contentFlow.blur{
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    margin-top:-10%;
    width: 110%;
    margin-left:-5%;

    border-radius: 10px;

    background-color: white;
    opacity: 0.6;
    filter: blur(50px);
}
*/

/*header
.contentFlow > header {
    position: relative;
    padding-top: 60px;
    opacity: 1;
    z-index: 3;
    text-align: center;
}

.contentFlow > header > * {
    z-index: 3;
    padding-top: 30px;
    opacity: 1;
    text-align: center;
}
*/
.contentFlow > header{
    padding:0;
    margin:0;
    margin-top:4.5%;

}

img.logo{
    padding:0;
    margin:0;
}




/*navigation*/
nav {
    position: fixed;
    max-width: inherit;
    top: 0;
    padding: 0;
    /*Center element*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index:4;
    box-shadow: 0px 0px 20px 1px #FFF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(233,190,73,0.9);
    overflow: hidden;
}

nav li {
    display: block;
    float: left;
}

nav li:hover{
    background-color: bisque;
}

nav a {
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 15px;
    color: black;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.ignore
{
    padding: 0px;
    margin: 0px;
}

.contentFlow article:not(.ignore), .contentFlow section:not(.ignore), .contentFlow aside:not(.ignore), .contentFlow > div:not(.ignore)
{
    background-color: white;
    padding: 15px;
    margin: 5px;
}

/*media query für die Nav und sidebar*/
@media screen and (max-width: 780px){
    .contentFlow {
       margin-top: 10%;
    }

@media screen and (max-width: 600px){
    .contentFlow {
        margin-top: 18%;
    }
}


@media screen and (max-width: 440px){
    .contentFlow {
        margin-top: 0%;
        }
    nav li {
        display: block;
        float: none;
        font-size: 0.8em;
        }
    nav{
        position: absolute;
        top: 0px;
    }
    img.logo{
        margin-top: 55%;
    }
    .contentFlow{
        margin: 0px;
        padding:0px;

    }
    body{
       margin: 0px;
       padding:0px;
       margin-top: -20px;
    }


@media screen and (max-width: 330px){
    .contentFlow {
         margin-top: 0%;
    }
    nav{
        position: absolute;
    }
    img.logo{
        margin-top: 60%;
    }

    nav li {
        display: block;
        float: none;
        font-size: 0.6em;
    }
    .contentFlow{
        margin: 0px;
        padding:0px;
        margin-top: -20px;
    }
    body{
       margin: 0px;
       padding:0px;
    }
}
