#entries > ul
{
    list-style-type: none;
    padding: 0px;
}

hr {
    display: none;
}


#articles
{
    max-width: 77%;
    float: left;
}

#sidepanels
{
    max-width: 23%;
    float: right;
}

.contentFlow > footer
{
    clear: both;
}

#entriesTop{
    display: none;
}


#bewertungstabelle_pos{
    display: inline-block;
    width: 49%;
    color: green;
}

#bewertungstabelle_neg{
    display: inline-block;
    width: 49%;
    float: right;
    color: darkred;
}

/* mediaqueries: die aside-"Werbung" ist ganz Unten, die einträge über den Artikeln */
@media screen and (max-width: 1000px){
   #sidepanels
    {
        margin-top: 70px;
        max-width: 100%;
        float: none;
    }
    #articles
    {
        max-width: 100%;
        float: none;
    }

    /*EntriesTop werden sichtbar- die vorherigen bekommen display: none*/
    #entries{
        display:none;
    }
    #entriesTop{
        display: inline-block;
        width:100%;
        margin-right: 0px;
        margin-left: 0px;

    }
}
@media screen and (max-width: 440px){

    #bewertungstabelle_pos{
    display: block;
    width: 100%;
    color: green;
    }

    #bewertungstabelle_neg{
    display: block;
    width: 100%;
    float: right;
    color: darkred;
    }
}
