body,html{
    min-height: 100%;
    margin: 0;
    min-width:100%;

    font-size: 20px;
}




/*background-Bild*/
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    margin:0 auto;

    background-image: url("imgs/Intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(5px);
    z-index: 0;


    animation-name: animatedBackground;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

/*die Animation für dieses bild*/
@keyframes animatedBackground{
    0% {background-position: 0 0; }
    50% {background-position: 100% 0; }
    100% {background-position: 0 0; }
}

header{
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 2.3em;
    color: rgba(75%,40%,10%,1);
    text-shadow: 3px 2px 0 rgba(0,0,0,.2);

    position: absolute;

    display: inline;

    left: 10%;
    right: 10%;
    top:15%;
    z-index: 3;
}


/*die startbox für die navigation*/
.navigation{
    width: 50%;
    height: 30%;
    margin:0 auto;
    opacity: 1;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left:25%;
    right:25%;
    z-index: 1;

    text-align:center;

    display: flex;
}

.navbox-bg{
    position: absolute;
    width: %;
    height: 29%;
    margin:0 auto;
    top: 50%;
    left:25%;
    right:25%;
    z-index: 1;

    background-color: floralwhite;
    opacity: 0.4;
    border: 3px solid black;
    border-radius: 15px;

    text-align:center;

}



/*der hintergrund der Startbox*/

p{
    font-size: 80px;
    font-family: sans-serif;
    margin:auto;
    display:none
}

nav{
    width: 100%;;
}

nav ul{
    width: inherit;
    height: 100%;
    margin:0;
    list-style-type: none;
    padding: 0;


    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

nav li{

    /* alternative tabletts
    background-image: url(imgs/Tablett.png);
    background-size: 100% 100%;
    */
    background-color: burlywood;
    border-radius: 10px;
    margin: 5px;

    flex-grow: 1;
}

nav a {
    text-decoration: none;

    display: block;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 2px 0 rgba(0,0,0,.2);
    color: black;
    padding: 5px;
}

nav li:hover{
    background-color: azure;

}

/*media queries*/

@media screen and (max-width: 1900px){
    header{
    font-size: 1.8em;
}
    .navbox-bg{
    height: 37%;
}

@media screen and (max-width: 1800px){
    .navbox-bg{
    height: 45%;
    }

@media screen and (max-width: 1500px){

    header{
    top:12%;
    font-size: 1.5em;
 }
       nav a {
    font-size: 2em;
}
    .navbox-bg{
    height: 25%;
}
    .navigation{
    width: 50%;
    height: 25%;

}

@media screen and (max-width: 1350px){
     nav a {
    font-size: 1.7em;
    }
     header{
    top:12%;
    font-size: 1.3em;
 }
}

@media screen and (max-width: 1200px){
     .navbox-bg{
    width: 80%;
    height: 25%;
    left:10%;
}
    .navigation{
    width: 80%;
    height: 25%;
    left:10%;
    }
      header{
    top:12%;
    font-size: 1.1em;
 }
}

@media screen and (max-width: 800px){
    .navbox-bg{
    width: 80%;
    height: 38%;
    left:10%;
    }
      header{
    top:6%;
    font-size: 1.1em;
 }
}

@media screen and (max-width: 500px){
    header{
    top:2%;
    left: 0;
    right: 0;
    }

    h2{
        display: none;
    }
    nav ul{
        flex-flow: column;
        align-content: stretch;
    }
    nav li{
        width: 100%;
    }
    nav a {
    font-size: 1.4em;
    }
    .navbox-bg{
    width: 80%;
    height: 70%;
    left:10%;
    top: 27%
    }
}






