body,html{
    min-height: 100%;
    margin: 0;
    min-width:100%;

    font-size: 20px;
}



/*background-Bild*/
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    margin:0 auto;

    background-image: url("imgs/Intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(5px);
    z-index: 0;

    animation-name: animatedBackground;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

/*die Animation für dieses bild*/
@keyframes animatedBackground{
    0% {background-position: 0 0; }
    50% {background-position: 100% 0; }
    100% {background-position: 0 0; }
}

header{
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 2.3em;
    color: rgba(75%,40%,10%,1);
    text-shadow: 3px 2px 0 rgba(0,0,0,.2);

    position: absolute;

    display: inline;

    left: 10%;
    right: 10%;
    top:12%;
    z-index: 3;

    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}


/*die startbox für die navigation*/
.navigation{
    min-width: 50%;
    min-height: 30%;
    margin:0 auto;
    opacity: 1;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left:25%;
    right:25%;
    z-index: 1;

    text-align:center;

    display: flex;

    background-color: rgba(255,255,255,0.4);

    border: 3px solid black;
    border-radius: 15px;

    overflow: hidden;
}

/*der hintergrund der Startbox*/


nav{
    flex: 1 0 auto;
    width: 100%;
}

nav ul{
    width: inherit;
    height: 100%;
    margin:0;
    list-style-type: none;
    padding: 0;


    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;


}

nav li{

    /* alternative tabletts
    background-image: url(imgs/Tablett.png);
    background-size: 100% 100%;
    */
    background-color: burlywood;
    border-radius: 10px;
    margin: 5px;

    flex-grow: 1;
}

nav a {
    text-decoration: none;

    display: block;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 2px 0 rgba(0,0,0,.2);
    color: black;
    padding: 5px;
}

nav li:hover{
    background-color: azure;

}

/*media queries*/

@media screen and (max-width: 1900px){
    header{
        font-size: 2em;
    }
    nav a {
        font-size: 3em;
    }

@media screen and (max-width: 1600px){
    header{
        font-size: 1.6em;
    }
    nav a {
        font-size: 2.5em;
    }

@media screen and (max-width: 1300px){
    header{
        font-size: 1.4em;
        top:8%;
    }
    nav a {
        font-size: 2.0em;
    }

@media screen and (max-width: 1100px){
    header{
        font-size: 1.2em;
        top:3%;
    }
    nav a {
        font-size: 1.5em;
    }

@media screen and (max-width: 800px){
    header{
        font-size: 1em;
        top:3%;
    }
    nav a {
        font-size: 1.2em;

    }
    .navigation{
        left:15%;
        right:15%;
    }

@media screen and (max-width: 500px){
    header{
        font-size: 1em;
        top:3%;
    }
    h2{
        display: none;
    }


    .navigation{
        top:35%;
        left:5%;
        right:5%;
    }
    nav ul{
        flex-flow: column;
    }

    nav a {
        width:350px;
        font-size: 1.2em;
    }
    .diagramm{
        font-size: 1em;
    }






