
body,html{
    /*width: 100%;
    height: 100%;*/
    background-image: url("Images/wood-plant.jpg");
    background-size: cover;
    background-attachment:fixed;
}

h1{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}

#startButton{
    position: absolute;
    z-index:3;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    display: inline-block;
    background: linear-gradient(to bottom right, rgba(233,190,73,0.9) , #4CAF50);  
}


#blurrerP{
    display: none;
    z-index: 2;
    position:absolute;
    font-size: 3vw;
    top: 45%;
    left: 35%;
    right: 35%;
    background-color: white;
    box-shadow: 0px 0px 295px 132px rgba(255,255,255,1);
}



.flip-container{
    visibility:hidden;
    flex-wrap: nowrap;
    perspective 1000px;
    max-width: 900px;
    max-height: 900px;
    margin: auto;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content: stretch;
    align-items: center;
    justify-content: center;
}



.flipper{
    flex-flow: center;
    transition: 0.6s;
	transform-style: preserve-3d;
    margin: 10px;
    width: 200px;
    height: 200px;
    
}

.flipper>div{
    width: 100%;
    height: 100%;
    position: absolute;
	top: 0;
	left: 0;
}

.front{
    transform: rotateY(180deg);
}
.back{
    backface-visibility: hidden;
}

img{
    width: 100%;
    height: 100%;   
}


.flipper {
    
	/*hier schreibt js was rein*/
}


